.dashboardContainer {
  display: flex;
  flex-direction: row;
}
.cards-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.each-card {
  height: 460px;
  width: 330px;
  border: solid 1px #fff;
  box-shadow: 0px 4px 15px 0px #0000001a;
  border-radius: 10px;
  margin: 10px;
}
.projectLogo {
  padding-top: 10px;
  padding-left: 10px;
}
.centerImage {
  width: 100%;
}
.innerContainer1,
.innerContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.name {
  line-height: 1px;
}
.value {
  font-size: 12px;
}
.buttons-contianer {
  padding-left: 30px;
  padding-right: 30px;
}
.button {
  width: 117px;
  height: 40px;
  border-radius: 2px;
  margin-right: 10px;
}
.booknow {
  background-color: #219c90;
  border: solid 2px #219c90;
  color: #fff;
}
.details {
  border: solid 2px #3333331a;
  color: #33333380;
}
