.nav-container {
  background-color: #21263c;
  color: #fff;
  min-height: 100vh;
  width: 15%;
}
.app-logo {
  padding-top: 10px;
  padding-left: 10px;
}
.navlinks-container {
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.each-navlink,
.logout-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}
i {
  color: #a0a0a0;
  margin-right: 10px;
}
.menu-logout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 93vh;
}
.buttons {
  color: #ffffffe5;
  background-color: transparent;
  border: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
li:hover,
.logout-container:hover {
  background-color: #ffffff0d;
  /* border-left: solid 2px #fff; */
}

li:hover > i,
.logout-container:hover > i {
  color: #219c90;
}

li:hover > button,
.logout-container:hover > button {
  font-weight: 700;
}
.link {
  text-decoration: none;
}
